---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Ella, <br/>A Hidden Gem in <br/>Sri Lanka</h1>

			<section class="mt-4">
				<p>
					Nestled in the lush highlands of Sri Lanka, Ella is a must-visit destination for travelers seeking a mix of stunning natural beauty, adventure, and authentic Sri Lankan culture. 
					<br/> <br/>
					Known for its breathtaking views, scenic hikes, and tranquil atmosphere, Ella offers an escape into nature while still providing plenty of opportunities for exploration and relaxation.
				</p>

				<a href="/blog">
					<button class="text-gray-100 bg-slate-950 text-sm py-3 px-6 rounded-xl font-bold hover:scale-105 duration-300 ease-in-out my-4">
						Read more
					</button>
				</a>
			</section>

			<section>
				<hr>
				<div class="divide-y divide-slate-200 flex flex-col">

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-3xl">Why visit ella?</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Flying Ravana Adventures</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Rawana Falls</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Kumbalwela Temple</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Halpewatte Tea Plantation</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Demodara Railway Loop and Station</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Walas Badda Viewpoint</h2>
						</a>
					</div>

					<div class="py-4 text-black">
						<a href="/blog/ella/">
							<h2 class="text-2xl">Best Time to Visit Ella</h2>
						</a>
					</div>

				</div>
			</section>
			
		</main>
		<Footer />
	</body>
</html>
